@import "tailwindcss";

@theme {
  --color-primary: #105a38;
  --color-primary-dark: #0a3d25;
  --color-secondary: #111111;
  --color-bg-main: #e8e8e5;
  --color-border-main: #b0b0b0;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --background-image-grid-pattern: linear-gradient(
    to right,
    #d4d4d4 1px,
    transparent 1px
  ),
  linear-gradient(to bottom, #d4d4d4 1px, transparent 1px);

  --radius-default: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-2xl: 0px;
}